---
import Title from "../components/Title.astro";
import Gallery from "../components/Gallery.astro";

let titleHtml = "";
let galleryHtml = "";

await fetch("http://localhost:5236/api/data")
  .then((res) => res.json())
  .then((data) => {
    titleHtml = data.title.html;
    galleryHtml = data.gallery.html;
  });
---

<div class="rw_v8">
  <div id="pd_v8" class="pd_v8 has_more_img">
    <Title html={titleHtml} />
    <div id="PI_v8" class="pdi_v8 has_thumb">
      <Gallery html={galleryHtml} />
    </div>
  </div>
</div>
