---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
let brochureHtml = '';
await fetch('http://localhost:5236/api/group')
	.then((res) => res.json())
	.then((data) => (brochureHtml = data.brochure.html));

console.log(brochureHtml);
---
<div id="pd_v8" class="pd_v8 has_more_img">
	<div set:html={brochureHtml} />
</div>

