<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://st.akakce.com/styles/mobilep.css?202503062"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    -webkit-text-size-adjust: 100%;
    width: 100%;
    background-color: #f2f4f6;
    margin: 0;
    min-height: 1200px;
  }

  .rw_v8 {
    box-sizing: border-box;
    width: 100%;
    min-width: 315px;
    max-width: 1210px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
  }
</style>
