<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Ürün Sayfası - Akakçe</title>
    <!-- <link
      rel="stylesheet"
      href="https://www.akakce.dev/include/aa/styles/_pcss.v9.asp?minifyrequest=0&mobilephpp&20250306"
    />
    <link
      rel="stylesheet"
      href="https://www.akakce.dev/include/aa/styles/_pcss.v9.asp?minifyrequest=0&mobilep&20250306"
    /> -->
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
